.footer {
    background-color:black;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 0.8rem;
    color: rgb(143, 138, 138);
}