.episodesWrapper {
    background-color: black;
    color: white;
    .episodesTitle {
        font-size: 1.2rem;
        padding-left: 100px;
        font-family: 'Open Sans', sans-serif;
        padding-top: 20px;
        margin-bottom: -30px;
        @media screen and(max-width: 768px){
            margin-left: -45px;
        }
    }
    .episodesSlick {
        width: 85%;
        margin: 0 auto;
        margin-top: 50px;
    }
}
